<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>index</title>
</head>
<script src="../js/ordinary/angular.min.js"></script>
<script src="../js/ordinary/angular-route.js"></script>
<script src="../js/ordinary/jquery.js"></script>
<script src="../js/ctl/fileCtl.js"></script>
<body>
<div ng-app="fileApp" ng-controller="fileCtrl">
    <form ng-app="fileApp" ng-controller="fileCtrl" id="fileUpload" enctype='multipart/form-data'>
        <input type="file"  onchange="showPic()" id="up_files"  name="files" style="width:auto;height:23px;"   multiple="multiple" accept="image/*"/><br/><br/>
        <button type="button" ng-click="uploadFile()" >提交</button>
    </form><hr/>
    <div>
        图片预览：
       <span id="showPic">

       </span>

    </div>
<hr/>
<div>
    上传的图片显示:
    <span ng-repeat="url in urlList">
      <img ng-src="{{url.fileUrl}}" width="40px;" height="40px;"/>
    </span>
</div>

</div>
<hr/>
<input onclick="excelDown()" type="button" name="button" value="excel下载"/>
<hr/>
<input onclick="zipDown()" type="button" name="button" value="图片下载"/>

</body>
</html>